*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    background-color:ghostwhite;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 1000px;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .bus-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .bus-item {
    width: 150px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .bus-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
  }
  
  .bus-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .bus-desc {
    font-size: 14px;
    color: #666;
  }
  
  /* .next {
    float: right;
    font-size: 24px;
    margin-top: 10px;
  } */

  .slider {
    position: relative;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.slider .prev {
    left: 10px;
}

.slider .next {
    right: 10px;
}